{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styl.css' %}">
    <link rel="icon" href="{% static 'icons/headphones.png' %}">
    <title>{% block tytul %}MusicHead{% endblock %}</title>
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a href="/.."><img src="{% static 'icons/home.svg' %}">Strona Główna</a></li>
            <li><a href="/dodaj"><img src="{% static 'icons/add.svg' %}">Dodaj Piosenkę</a></li>
            {% if not user.is_authenticated %}
            <li><a href="/login"><img src="{% static 'icons/account.svg' %}">Zaloguj się</a></li>
            {% else %}
            <li><a href="/uzytkownik/{{ user.username }}"><img src="{% static 'icons/face.svg' %}">Twój profil</a></li>
            <li><a href="/wyloguj" id="wyloguj"><img src="{% static 'icons/logout.svg' %}">Wyloguj się</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="tresc">
        {% block tresc %}
            <p>Tu powinna być treść strony</p>
        {% endblock %}
    </div>
    <footer>© Copyright MusicHead 2025</footer>
</body>

</html>