{% extends "strona/base.html" %}
{% load static %}
{% block tytul %}Dodaj piosenkę - MusicHead{% endblock %}

{% block tresc %}

{% if not zalogowany %}
<main>
    <div class="blad">
        <img src="{% static 'icons/warning.svg' %}">
        <p>Aby dodać piosenkę, musisz się <a href="/login">zalogować</a></p>
    </div>  
</main>

{% else %}

<main class="margines">
    <h1>DODAJ PIOSENKĘ</h1>
    {% if wiadomosc %}
    <div class="blad">
        <img src="{% static 'icons/warning.svg' %}">
        <p>{{ wiadomosc }}</p>
    </div>
    {% endif %}
    <form id="formularz" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="dodajPiosenke">
            <div id="lewyPanel">
                <label>Tytuł<span class="czerwony">*</span>:</label>
                <input type="text" name="tytul" class="pole" maxlength="255" required><br>

                <label>Wykonawcy<span class="czerwony">*</span>:</label>
                <input type="text" name="wykonawcy" class="pole" maxlength="255" required><br>

                <label>Album:</label>
                <input type="text" name="album" class="pole" maxlength="255"><br>

                <label>Gatunek:</label>
                <input type="text" name="gatunek" class="pole" maxlength="100"><br>

                <label>Data wydania:</label>
                <input type="date" name="data" class="poleData"><br>

                <label>Youtube URL:</label>
                <input id="urlInput" type="url" name="link" class="pole poleLink" placeholder="np. https://www.youtube.com/watch?v=linkdopiosenki">
                <p id="error">Wprowadź poprawny URL! Przykład: https://www.youtube.com/watch?v=linkdopiosenki</p>
                
                <p class="czerwony">* wymagane</p>
            </div>
            <div id="prawyPanel">
                <div id="prawyInput">
                    <label>Okładka:</label>
                    <label id="przeslijZdjecie">
                        <img src="{% static 'icons/upload.svg' %}">
                        Dodaj zdjęcie
                        <input type="file" name="okladka" id="polePlik" accept=".png, .jpg, .jpeg">
                    </label>
                </div>
                <p>Wymagane wymiary: 300x300px</p>
                <img id="podgladZdjecia" src="">
            </div>
        </div>
        <button type="submit" id="zatwierdz">
            <img src="{% static 'icons/next.svg' %}">
            Zatwierdź
            <img src="{% static 'icons/next.svg' %}">
        </button>
    </form>
</main>
<script src="{% static 'scripts/dodajPiosenke.js' %}"></script>

{% endif %}
{% endblock %}