{% extends "strona/base.html" %}
{% load static %}
{% block tytul %}Strona główna - MusicHead{% endblock %}

{% block tresc %}
<main>
    <h1>MusicHead - opinie o piosenkach</h1>
    <div>
        <ul>
            {% for piosenka in piosenki %}
                <li>
                    <a href="/piosenka/{{ piosenka.id }}">{{ piosenka.tytul }} - {{ piosenka.wykonawcy}}</a>
                </li> 
                {% empty %}
                <p>Bądź pierwszy - <a href="/dodaj">DODAJ PIOSENKĘ</a></p>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}