{% extends "strona/base.html" %}
{% load static %}
{% block tytul %}{{ piosenka.tytul }} - {{ piosenka.wykonawcy}} {% endblock %}

{% block tresc %}
<main class="margines">
    <div id="piosenkaInfo">
        <div class="okladka">
            {% if piosenka.okladka %}
                <img src="{{ piosenka.okladka.url }}" width="300">
            {% else %}
                <img class="bezOkladki" src="{% static 'icons/album.svg' %}">
            {% endif %}
        </div>

        <div class="blokInformacje">
            <h1 class="tytul">{{ piosenka.tytul }}</h1>
            <h1 class="artysci">{{ piosenka.wykonawcy}}</h1>
            <p>Album:
                {% if piosenka.album %} {{ piosenka.album}}
                {% else %} Brak {% endif %}
            </p>
            <p>Gatunek:
                {% if piosenka.gatunek %} {{ piosenka.gatunek}}
                {% else %} Brak {% endif %}
            </p>
            <p>Data wydania:
                {% if piosenka.data %} {{ piosenka.data}}
                {% else %} Brak {% endif %}
            </p>
            {% if piosenka.link %}
                <p>Link: <a href="{{ piosenka.link }}" target="_blank">{{ piosenka.link }}</a></p>
            {% endif %}
        </div>
    </div>

    <h1 class="ocenaInfo">Oceń tą piosenkę:</h1>

    {% if user.is_authenticated %}

        {% if wiadomosc %}
        <div class="blad">
            <img src="{% static 'icons/warning.svg' %}">
            <p>{{ wiadomosc }}</p>
        </div>
        {% endif %}
        
        <form id="dodajOpinie" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ocena" id="ocena" value="0">
            <div>
                {% for i in iloscGwiazdek %}
                    <img class="gwiazdka" src="{% static 'icons/star_outline.svg' %}" ilosc="{{ i }}" width="50px">
                {% endfor %}
                <p id="error">Zaznacz wybraną ilość gwiazdek!</p>
            </div>
            <input class="komentarz" type="text" name="komentarz" placeholder="Tu wpisz treść komentarza... (opcjonalne)" maxlength="500">
            <button type="submit">Opublikuj</button>
        </form>

    {% else %}
        <div class="blad">
            <img src="{% static 'icons/warning.svg' %}">
            <p>Aby dodać opinię, musisz się <a href="/login">zalogować</a></p>
        </div>

    {% endif %}

    <h1 class="ocenaInfo">Opinie użytkowników:</h1>

    {% for opinia in opinie %}
    <div class="opinia">
        <p>{{ opinia.uzytkownik }}, {{ opinia.data }}</p>

        {% for i in iloscGwiazdek %}
            {% if i <= opinia.ocena %}
                <img src="{% static 'icons/star_filled.svg' %}">
            {% else %}
                <img src="{% static 'icons/star_outline.svg' %}">
            {% endif %}
        {% endfor %}

        {% if opinia.uzytkownik.username == user.username %}
        <div id="menuEdycji">
            <button class="przycisk">Edytuj</button>
            <button class="przycisk">Usuń</button>
        </div>
        {% endif %}

        {% if opinia.komentarz %}
            <p>{{ opinia.komentarz }}</p>
        {% endif %}
    </div>
    <hr>
    {% empty %}
        <p id="brakOpinii">Ta piosenka nie ma jeszcze żadnych opinii. Bądź pierwszy!</p>
    {% endfor %}

</main>

<script>
    const pustaGwiazdka = "{% static 'icons/star_outline.svg' %}";
    const pelnaGwiazdka = "{% static 'icons/star_filled.svg' %}";
</script>

<script src="{% static 'scripts/opinia.js' %}"></script>

{% endblock %}