{% extends "strona/base.html" %}
{% load static %}
{% block tytul %}{{ piosenka.tytul }} - {{ piosenka.wykonawcy}} {% endblock %}

{% block tresc %}
<main class="margines">
    <div id="piosenkaInfo">
        <div class="okladka">
            {% if piosenka.okladka %}
                <img src="{{ piosenka.okladka.url }}" width="300">
            {% else %}
                <img class="bezOkladki" src="{% static 'icons/album.svg' %}">
            {% endif %}
        </div>

        <div class="blokInformacje">
            <h1 class="tytul">{{ piosenka.tytul }}</h1>
            <h1 class="artysci">{{ piosenka.wykonawcy}}</h1>
            <p>Album:
                {% if piosenka.album %} {{ piosenka.album}}
                {% else %} Brak {% endif %}
            </p>
            <p>Gatunek:
                {% if piosenka.gatunek %} {{ piosenka.gatunek}}
                {% else %} Brak {% endif %}
            </p>
            <p>Data wydania:
                {% if piosenka.data %} {{ piosenka.data}}
                {% else %} Brak {% endif %}
            </p>
            {% if piosenka.link %}
                <p>Link: <a href="{{ piosenka.link }}" target="_blank">{{ piosenka.link }}</a></p>
            {% endif %}

            <p id="sredniaOcen">Średnia ocen:</p>
            <div id="sredniaGwiazdki">
                {% for i in iloscGwiazdek %}
                    {% if i <= srednia %}
                        <img src="{% static 'icons/star_filled.svg' %}">
                    {% else %}
                        <img src="{% static 'icons/star_outline.svg' %}">
                    {% endif %}
                {% endfor %}
                <p>{{ srednia }} / 5 (Ilość opinii: {{ iloscOpinii }})</p>
            </div>
        </div>
    </div>

    <h1 class="ocenaInfo">Oceń tą piosenkę:</h1>

    {% if user.is_authenticated %}

        {% if wiadomosc %}
        <div class="blad">
            <img src="{% static 'icons/warning.svg' %}">
            <p>{{ wiadomosc }}</p>
        </div>
        {% endif %}

        {% if opiniaUzytkownika %}
            <div class="opinia">
                <p>{{ user.username }}, {{ opiniaUzytkownika.data }}</p>
                
                <div id="opiniaDetale">
                    {% for i in iloscGwiazdek %}
                        {% if i <= opiniaUzytkownika.ocena %}
                            <img src="{% static 'icons/star_filled.svg' %}">
                        {% else %}
                            <img src="{% static 'icons/star_outline.svg' %}">
                        {% endif %}
                    {% endfor %}

                    <form id="formularzUsuwania" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="inputUsun" name="usunOpinie" value="0">
                        <button id="przyciskUsun" class="przycisk">Usuń</button>
                    </form>
                </div>
        
                {% if opiniaUzytkownika.komentarz %}
                    <p>{{ opiniaUzytkownika.komentarz }}</p>
                {% endif %}
            </div>
            <hr>
        
        {% else %}
  
        <form id="dodajOpinie" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ocena" id="ocena" value="0">
            <div>
                {% for i in iloscGwiazdek %}
                    <img class="gwiazdka" src="{% static 'icons/star_outline.svg' %}" ilosc="{{ i }}" width="50px">
                {% endfor %}
                <p id="error">Zaznacz wybraną ilość gwiazdek!</p>
            </div>
            <input class="komentarz" type="text" name="komentarz" placeholder="Tu wpisz treść komentarza... (opcjonalne)" maxlength="500">
            <button type="submit">Opublikuj</button>
        </form>
        {% endif %}

    {% else %}
        <div class="blad">
            <img src="{% static 'icons/warning.svg' %}">
            <p>Aby dodać opinię, musisz się <a href="/login">zalogować</a></p>
        </div>

    {% endif %}

    <h1 class="ocenaInfo">Opinie innych użytkowników:</h1>

    {% for opinia in opinie %}
    {% if opinia.uzytkownik.username != user.username %}
        <div class="opinia">
            <p>{{ opinia.uzytkownik }}, {{ opinia.data }}</p>

            {% for i in iloscGwiazdek %}
                {% if i <= opinia.ocena %}
                    <img src="{% static 'icons/star_filled.svg' %}">
                {% else %}
                    <img src="{% static 'icons/star_outline.svg' %}">
                {% endif %}
            {% endfor %}

            {% if opinia.komentarz %}
                <p>{{ opinia.komentarz }}</p>
            {% endif %}
        </div>
        <hr>
    {% endif %}
    {% empty %}
        <p id="brakOpinii">{{ opinieWiadomosc }}</p>
    {% endfor %}

</main>

<script>
    const pustaGwiazdka = "{% static 'icons/star_outline.svg' %}";
    const pelnaGwiazdka = "{% static 'icons/star_filled.svg' %}";
</script>

<script src="{% static 'scripts/opinia.js' %}"></script>

{% endblock %}