{% extends "strona/base.html" %}
{% load static %}
{% block tytul %}Zaloguj się - MusicHead{% endblock %}

{% block tresc %}
<main>
    {% if user.is_authenticated %}
    <div class="ostrzezenie">
        <img src="{% static 'icons/notification.svg' %}">
        <p>
            Jesteś zalogowany jako <span class="pogrubienie">{{ user.username }}</span>.<br>
            Czy aby na pewno chcesz kontynuować?<br>
            Spowoduje to wylogowanie z obecnego konta.
        </p>
    </div>
    {% endif %}

    <h1>Logowanie</h1>
    <form class="login" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="zapamietaj">
            <input type="checkbox" name="zapamietaj" checked>
            <label>Zapamiętaj mnie</label><br>
        </div>
        <button type="submit">Zaloguj się</button>
        <p id="rejestracjaOpcja">Nie masz konta? <a href="/rejestracja">Zarejestruj się!</a></p>
    </form>
</main>
{% endblock %}