body {
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

nav {
    background: #344585;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0 0 5px black;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 15px 0;
    gap: 5vw;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: 0.3s;
}
.menu a img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
.menu a:hover {
    background: #495fad;
}

main {
    margin: 120px 0;
    margin-bottom: 0;
}
main h1 {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Arial Black";
}

.margines {
    margin: 120px 15vw;
}

form label {
    font-size: 1.4em;
    margin-right: 30px;
}
form input {
    padding: 5px;
    margin-bottom: 10px;
}

#dodajPiosenke {
    display: flex;
    flex-direction: row;
}
#lewyPanel {
    margin-left: 30px;
    flex: 65%;
}
#prawyPanel {
    flex: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pole, .login input {
    font-size: 1.2em;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
}
.login input {
    width: 200px;
}
.pole:focus, .login input:focus {
    border-bottom: 3px solid #4260cb;
}
.poleData {
    font-family: Arial, Helvetica, sans-serif;
}
.poleLink {
    width: 470px;
}

#polePlik {
    display: none;
}
#prawyInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#zatwierdz, #przeslijZdjecie, .login button, #dodajOpinie button {
    background-color: #344585;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

#przeslijZdjecie, .login button {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}
#przeslijZdjecie:hover, .login button:hover {
    background-color: #495fad;
}

#zatwierdz {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 1.7em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#zatwierdz:hover {
    background-color: rgb(31, 129, 31);
    box-shadow: 0 5px rgb(19, 68, 19);
}
#zatwierdz img {
    width: 40px;
}

#podgladZdjecia {
    display: none;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: dashed 3px #303959;
}

.blad {
    display: flex;
    gap: 10px;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: solid 3px rgb(194, 0, 0);
    border-radius: 20px;
    background-color: rgb(255, 149, 149);
    color: rgb(194, 0, 0);
    padding: 10px 15px;
    width: fit-content;
}

.blad p {
    margin: 0;
    padding: 0;
}

#error {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    display: none;
    margin: 0;
}

.czerwony {
    color: red;
}

.login {
    margin-left: auto;
    margin-right: auto;
    background-color: #b3c0ed;
    width: 450px;
    padding: 30px;
    border-radius: 20px;
}
.login input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.login button {
    font-size: 1.6em;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
}

form ul, .helptext {
    display: none;
}
form .errorlist {
    display: block;
    color: rgb(226, 0, 0);
    font-size: 1.3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#loginOpcja {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.3em;
}
#rejestracjaOpcja {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3em;
}

.zapamietaj {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bezOkladki {
    width: 100px;
    background-color: #303959;
}

.blok {
    display: block;
    width: fit-content;
    margin-left: auto; 
    margin-right: auto;
}
.blok p {
    margin: 5px 0;
}

.niebieskiBlok {
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #b3c0ed;
    border-radius: 30px;
}
.niebieskiBlok h2 {
    font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Arial Black";
    text-align: center;
}

.listaPiosenek {
    counter-reset: ranking;
    font-family: Arial;
}
.listaPiosenek li {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 10px 20px;
    border-bottom: 1px solid #303959;
    font-size: 1.3em;
    margin-right: 5vw;
    word-wrap: break-word;
}
.listaPiosenek li::before {
    counter-increment: ranking;
    content: counter(ranking);
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
    width: 3vw;
}
.listaPiosenek li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.listaInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
}
.listaInfo a {
    width: 15vw;
}

#szukaj {
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
#szukaj input {
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
}

#szukaj img {
    width: 50px;
}

.blokInformacje h1 {
    text-align: left;
    margin: 0;
}
.blokInformacje .tytul {
    margin-bottom: 5px;
    font-size: 2.5em;
}
.blokInformacje .artysci {
    font-size: 1.5em;
    margin-bottom: 50px;
}
.blokInformacje p {
    font-size: 1.2em;
    margin: 0;
    margin-top: 5px;
}

#piosenkaInfo {
    display: flex;
    gap: 40px;
    align-items: center;
}
.okladka .bezOkladki {
    width: 300px;
}

.komentarz {
    margin-top: 10px;
    width: 500px;
    min-height: 40px;
    font-size: 1.3em;
}
#dodajOpinie button {
    font-size: 1.2em;
    padding: 15px;
    margin-left: 10px;
}

.ocenaInfo {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: left;
}